@model CorsoCF.Models.Impiegato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Impiegato</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Azienda.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Azienda.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livello)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImpiegatoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
