@model CorsoCF.Models.Azienda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Azienda</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aziendaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
